<!DOCTYPE html>

<html>
	<head>
		<title>
			VC Analytics
		</title>
		<!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>

	<body>
		<h1>
			VC Analytics
			<button type="button" class="btn btn-default navbar-btn navbar-right">Blog</button>
			<button type="button" class="btn btn-default navbar-btn navbar-right">Register</button>
			<button type="button" class="btn btn-default navbar-btn navbar-right">Sign-in</button>
			<button type="button" class="btn btn-default navbar-btn navbar-right">About</button>
		</h1>

		{% block content %}
		{% endblock %}

		</body>
</html>