<!DOCTYPE html>

<html>
	<head>
		<title>
			VC Analytics
		</title>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		
	</head>

	<body>
		<div class="container">
			<div class="page-header">
					<ul class="nav nav-pills pull-right">
					<li>
						<a href="url">Home</a>
					</li>
					<li>
						<a href="url">About</a>
					</li>
					<li>
						<a href="url">Blog</a>
					</li>
				</ul>

				<h1>
					<a href="url">VC</a>
					<small>Analytics</small>
				</h1>

			</div>

			{% block content %}
			{% endblock %}

		</div>
	</body>

</html>