<!DOCTYPE html>
<html>
	<head>
		<title>
			VC Analytics
		</title>
	</head>
	<body>
		<h1>
			VC Analytics
		</h1>
		<p>
			Please input the amount you wish to invest.
		</p>
		<form method="post">
			<label>
				<div>Amount</div>
				<input type="integer" name="amount">
			</label>

			<label>
				<div>BA</div>
				<input type="checkbox" name="ba">
			</label>
			<label>
				<div>BAC</div>
				<input type="checkbox" name="bac">
			</label>
			<label>
				<div>GE</div>
				<input type="checkbox" name="ge">
			</label>
			<label>
				<div>MSFT</div>
				<input type="checkbox" name="msft">
			</label>
			<label>
				<div>PEP</div>
				<input type="checkbox" name="pep">
			</label>
			<label>
				<div>PG</div>
				<input type="checkbox" name="pg">
			</label>
			<label>
				<div>QCOM</div>
				<input type="checkbox" name="qcom">
			</label>

			<br>

			<input type="submit">
		</form>

	</body>
</html>