{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h1>
			Welcome
		</h1>

		<form method="post">
			<label>
				<div>Amount</div>
				<input type="integer" name="amount">
			</label>

			<br>

			<label>
				<div>Company Name</div>
				<input type="string" name="company">
			</label>

			<br>

			<input type="submit">
		</form>
	</div>

	<div class="col-md-6 pull-right">
			<h1>Returns: <small>{{returns}}%</small></h1>
			<h1>Risk: <small>{{risks}}%</small></h1>
			<h1>Allocation:</h1>
			<div id="chart">
			
				<script>
					var bardata = [20, 30, 45, 15, 82,];
					var names = ['BA', 'MSFT', 'AAPL', 'GOGL', 'CHRL'];

					var height = 200,
						width = 400,
						barWidth = 50,
						barOffset = 5;

					var yScale = d3.scale.linear()
							.domain([0, d3.max(bardata)])
							.range([0, height])

					var xScale = d3.scale.ordinal()
							.domain(d3.range(0, bardata.length))
							.rangeBands([0,width])

					var tooltip = d3.select('body').append('div')
							.style('position', 'absolute')
							.style('padding', '0 10px')
							.style('background', 'white')
							.style('opacity', .9)

					var myChart = d3.select('#chart').append('svg')
							.attr('width', width)
							.attr('height', height)
							.selectAll('rect').data(bardata)
							.enter().append('rect')
								.style('fill', '#C61C6F')
								.attr('width', xScale.rangeBand())
								.attr('x', function(d,i) {
									return xScale(i);
								})
								.attr('height', 0)
								.attr('y', height)

								.on('mouseover', function(d) {

									tooltip.transition()
										.style('opacity', .9)

									tooltip.html(d)
										.style('left', (d3.event.pageX - 35) + 'px')
										.style('top', (d3.event.pageY - 30) + 'px')

									d3.select(this)
										.style('opacity', .5)
								})

								.on('mouseout', function(d) {

									d3.select(this)
										.style('opacity', 1)
								})

					myChart.transition()
							.attr('height', function(d) {
								return yScale(d);
							})
							.attr('y', function(d) {
								return height - yScale(d);
							})
							.delay(function(d, i) {
								return i * 80;
							})

					myChart.select('svg')
						.data(bardata)
						.enter().append('text')
						.style('fill', 'black')
						.attr('x', function(d,i) {
									return xScale(i);
								})
						.attr('y', function(d) {
								return height - yScale(d) + 9;
							})
						.attr('height', function(d) {
								return yScale(d);
							})
						.attr('dy', '.35em')
						.attr('dx', '1.5em')
						.attr('font-size', '10px')
						.attr('font-family', 'sans-serif')
						.data(names)
						.text(function(d) { return d; });


				</script>
			</div>
	</div>
</div>
{% endblock %}