{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h1>
			Welcome
		</h1>

		<form method="post">
			<label>
				<div>Amount</div>
				<input type="number" name="amount">
			</label>

			<br>

			<label>
				<div>Company Name</div>
				<input type="string" name="company">
			</label>

			<br>

			<label><div> Analysis </div></label>

			<br>
			
			<div class="btn-group">

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Static Models
					<span class="caret"></span>
				</button>
				 <ul class="dropdown-menu" role="menu">
					<li><a href="#">Dropdown link</a></li>
					<li><a href="#">Dropdown link</a></li>
				</ul>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Dynamic Models
					<span class="caret"></span>
				</button>
				 <ul class="dropdown-menu" role="menu">
					<li><a href="#">Dropdown link</a></li>
					<li><a href="#">Dropdown link</a></li>
				</ul>
			</div>

				<input type="submit" class="btn btn-default">
			</div>

			<br>

			


		</form>
	</div>
</div>
{% endblock %}