{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h1>
			Welcome
		</h1>

		<div class="alert alert-warning alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  					<strong>
  						Warning! An error occured! One of the following occured:
  					</strong> 
  					<br> 
  					1.) You did not enter an amount.
  					<br>
  					2.) You didn't pick a model. 
  					<br>
  					3.) You incorrectly entered a stock ticker symbol!
		</div>

		<form method="post">
			<label>
				<div>Amount</div>
				<input type="number" name="amount">
			</label>

			<br>

			<label>
				<div>Company Stock Ticker Name</div> 
				<small>(space-separate each ticker symbol eg. aapl googl r msft)</small>
				<br>
				<input type="string" name="company">
			</label>

			<br>

			<label><div> Analysis Tools: </div></label>

			<br>
			
			<div class="btn-group">

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Static Models
					<span class="caret"></span>
				</button>
				 <ul class="dropdown-menu" role="menu">
					<li>
						<label>
						<input type="radio" name="models" value="staticshort">
						Short Selling
						</label>
					</li>
					<li>
						<label>
						<input type="radio" name="models" value="staticnoshort">
						No Short Selling
						</label>
					</li>
				</ul>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Dynamic Models
					<span class="caret"></span>
				</button>
				 <ul class="dropdown-menu" role="menu">
				 	<li role="presentation" class="dropdown-header">These models don't work yet. For demo purposes only.</li>
					<li>
						<label>
						<input type="radio" name="models" value="dynamcishort">
						Short Selling
						</label>
					</li>
					<li>
						<label>
						<input type="radio" name="models" value="dynamicnoshort">
						No Short Selling
						</label>
					</li>
				</ul>
			</div>

				<input type="submit" class="btn btn-default">
			</div>

			<br>
		</form>
	</div>
</div>
{% endblock %}